body {
    font: 32px "Century Gothic", Futura, sans-serif;
    /*background: #1B1C1E;
    color: white;*/
    text-align: center;
}

.home {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.display-flex {
    display: flex;
}

.margin-auto {
    margin: auto;
}

.margin-32 {
    margin: 32px;
}

.margin-top-16 {
    margin-top: 16px;
}

.logo {
    width: 64px;
    position: absolute;
    bottom: 4px;
}

.logo-right {
    right: 4px;
}

.logo-left {
    left: 4px;
}

.text-32 {
    font-size: 32px;
}

.text-24 {
    font-size: 24px;
}

.width-70 {
    width: 70%;
}

.width-100 {
    width: 100%;
}

.width-512 {
    width: 512px;
}

.max-width-512 {
    max-width: 512px;
}

.pointer {
    cursor: pointer;
}

.line-break {
    line-break: anywhere;
}

.space-horizontal-4 {
    width: 4px;
}

.space-horizontal-8 {
    width: 8px;
}

.space-vertical-8 {
    height: 8px;
}

.space-vertical-16 {
    height: 16px;
}

.space-vertical-20 {
    height: 20px;
}

.space-vertical-24 {
    height: 20px;
}

.padding-2 {
    padding: 2px;
}

.input-row {
    display: flex;
    width: 100%;
}

.input-label {
    font-size: 16px;
    width: 30%;
    text-align: left;
    padding: 6px;
}

.qr-code {
    height: auto;
    margin: auto;
    margin-top: 16px;
    max-width: 256;
    width: 100%;
}

.qr-code-label {
    font-size: 48px;
    font-weight: 600;
}
